.css-tablaDatos{
  table{
    display: contents;
    th{
      padding: 0.3rem;
      border: 1px solid #c8cadf;
      min-width: 5rem;
      max-width: 12rem;
    }
    tr{
      td{
        border: 1px solid #c8cadf;
        padding: 0.3rem;
      }
    }
  }
}

.css-imagen-1{
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.css-boton-icono{
  transition: 2s;
  border: 2px;
  border-color: blue;
  border-style: solid;
}

.css-boton-icono:hover{
  transition: 2s;
  border-color: rgb(10, 248, 82);
  border-style: dotted;
}

.css-filtros{

}

.css-texto-centro-0{
  display: flex;
  justify-content: center;
}
.css-texto-centro-1{
  display: flex;
  justify-content: space-evenly;
}

.css-contenedor{

}
.css-contenedor.popup{

}
