<div class="css-contenedor-popup">
  <form>
    <div>
      <div>
        <input
          type="text"
          id="nombre"
          [formControl]="itemForm.controls['nombre']"
        >
      </div>
      <div>
        <input
          type="text"
          id="imagen"
          [formControl]="itemForm.controls['imagen']"
        >
      </div>
      <div>
        <input
          type="range"
          id="Ataque"
          [min]="minimo"
          [max]="maximo"
          [formControl]="itemForm.controls['ataque']"
        >
      </div>
      <div>
        <input
          type="range"
          id="defensa"
          [min]="minimo"
          [max]="maximo"
          [formControl]="itemForm.controls['defensa']"
        >
      </div>
      <div>
        <button
          (click)="guardar()"
        >
          Guardar
        </button>
        <button
          (click)="regresar()"
        >
          Cancelar
        </button>
      </div>

    </div>
  </form>
</div>
