<div id="contenedor" class="css-contenedor" >
  <div *ngIf="!isPopup; else popupPokemon">
    <h1>Listado de pokemon</h1>
    <div class="css-filtros css-padding css-texto-centro-2">
      <div class="css-flex-grid-1">
        <img class="css-icono-w css-icono-inner" src="../../../assets/iconos/search.png" alt="" />
        <input
          class="css-input-1"
          type="text"
          id="filtro"
          placeholder="Buscar"
          [formControl]="itemForm.controls['filtro']"
        >
      </div>
      <div>
        <button
          class="css-boton-accion"
          id="btn_nuevo"
          (click)="nuevoRegistro()"
        >
          <img class="css-icono-w" src="../../../assets/iconos/add.png" alt="" />
          Nuevo
        </button>
      </div>
    </div>
    <div class="css-tablaDatos css-padding">
      <table >
        <ng-template [ngTemplateOutlet]="tablaCabecera"></ng-template>
        <ng-template
            *ngFor="let item of lsPokemon; trackBy: util.trackByFn"
            [ngTemplateOutlet]="filasDatos"
            [ngTemplateOutletContext]="{ fila: item}"
        > </ng-template>
      </table>
    </div>
  </div>

</div>


<ng-template #popupPokemon>
  <app-popup-catalogo-pokemon
    (submitEvent)="submitPopup($event)"
    [data]="selectRow"
    [isNuevo]="selectRow?.id === undefined"
  ></app-popup-catalogo-pokemon>
</ng-template>
<ng-template #tablaCabecera>
    <th >Nombre</th>
    <th >Imagen</th>
    <th >Ataque</th>
    <th >Defensa</th>
    <th >Acciones</th>
</ng-template>
<ng-template #filasDatos let-fila="fila">
    <tr>
        <td>
          <div>{{fila?.name || 'No data'}}</div>
        </td>
        <td>
          <div class="css-texto-centro-0">
            <img class="css-imagen-1" (click)="abrirImagen(fila?.image)" [src]="fila?.image" alt="">
          </div>
        </td>
        <td>
          <div>
            {{fila?.attack || '0'}}
          </div>
        </td>
        <td>
          <div>{{fila?.defense || 'No data'}}</div>
        </td>
        <td>
          <div class="css-texto-centro-1">
            <button
              class="css-boton-icono "
              (click)="popupItemPokemon(fila)"
            >
              <img class="css-icono-w" src="../../../assets/iconos/edit.png" alt="" />
            </button>
            &nbsp;
            <button
              class="css-boton-icono"
              (click)="eliminarPokemon(fila)"
            >
            <img class="css-icono-w" src="../../../assets/iconos/delete.png" alt="" />
            </button>
          </div>
        </td>
    </tr>
</ng-template>
